<%= render partial: 'layouts/alert', collection: flash[:alert] %>

<%= form_for @user, url: user_path,
      html: {class: 'edit_user'} do |form| %>

  <%= form.email_field :email, placeholder: @user.email || 'Email' %>
  <div><%= form.submit class: 'btn' %></div>
<% end %>