<section class='user'>
  <h1><%= @user.name %></h1>
  Welcome to my blog!
</section>

<%= if @user.name == 'Krugloff'
      link_to 'New Article', new_article_path,
        class: 'btn new-article', remote: true
    end %>

<%= link_to 'Delete', user_path, class: 'btn', method: 'delete' %>