// Place all the styles related to the Articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// #index
a.preview {
  @include small-block;

  display: block;
  color: black;
}

// To align with the <select>.
.form_inline .btn { margin-bottom: 10px; }

// # show
article a.created_at {
  display: inline-block;
  background: $grey;
  box-shadow: 0 0 5px rgba(0,0,0,0.2);
  border-radius: 0 0 10px 10px;
  margin-top: -2.8%;
  color: white;
  font-size: 11px;
  padding: 3px;
  text-align: center;

  &:hover {
    background: #81030A;
  };

  div:first-child { border-bottom: 1px solid; };
}

article {
  margin-bottom: 20px;
}

// #edit and #new
form.edit_article, form.new_article {
  padding-right: 10%;

  #article_body, #article_title { width: 100%; };
}