// Place all the styles related to the comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// #index
.comments { padding-top: 3% }

.comment-metadata { width: 90%; }

div.comment {
  @include small-block;
  border-bottom-color: $main-color;
  border-left-color: $main-color;
  border-right-color: $main-color;

  padding-top: 0%;
  padding-bottom: 0%;

  width: 80%;
};

// #_new
.new_comment {
  padding-right: 5%;

  #comment_body { width: 100%; }

  #comment_title { width: 50%; }
}