// Place all the styles related to the comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// #index
.comments { padding-top: 3% }

div.comment {
  @include small_block;
  border-color: transparent;
  border-top: 1px solid black;

  padding-top: 0%;
  padding-bottom: 0%;
};

// #_new
.new_comment {
  padding-right: 5%;

  #comment_body { width: 100%; }

  #comment_title { width: 50%; }
}