// Place all the styles related to the comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// #index
div.comment {
  @include small-block;
  padding-top: 1%;
  padding-bottom: 1%;

  .created_at {
    color: #999999;
    font-size: 12px;
    font-style: italic;
  }
};

// #_new
.new_comment {
  padding-right: 5%;

  #comment_body { width: 100%; }

  #comment_title { width: 50%; }
}