//= require_self

@import 'bootstrap';

$main-color: #EEEEEE;
$grey: #666666;
$light_gray: #999999;
$border-shadow: 1px solid rgba(0,0,0,0.1);

@mixin hover_block {
  &:hover {
    border: 1px solid black;
    box-shadow: 3px 3px 3px black;
  };
}

@mixin small_block {
  border: $border-shadow;
  margin-bottom: 5%;
  padding: 2%;

  @include hover_block;
}

@import 'articles';
@import 'comments';
@import 'users';
@import 'sessions';

body {
  background: {
    image: url(flower_left.png), url(paper.png);
    position: left, right;
    repeat: no-repeat, repeat;
    attachment: fixed, fixed;
  };

  padding: 3%;
}

a, .btn {
  outline: none;
  text-decoration: none;

  &:hover, &:active, &:focus {
      outline: none;
      text-decoration: none;
    };
}

.base, aside {
  padding: 2%;
  border-radius: 10px;
}

.content {
  padding-right: 1%;
  padding-top: 1%;
}

@mixin menu_block {
  padding: 1%;
  border: 3px solid black;
  border-radius: 3px;
  box-shadow: 0px 0px 3px black,
              inset 0px 0px 3px black;

  a {
    color: $grey;
    padding-right: 2%;

    &:hover { color: black; };
  };

  a.active {
    color: green;

    &:hover, &:active, &:focus { color: green; };
  }
}

nav { @include menu_block; }

aside .menu {
  @include menu_block;
  border-color: green;
  box-shadow: 0px 0px 3px green,
              inset 0px 0px 3px green;
  padding-left: 3%;
  margin-top: 20%;
}

a.logout { padding: 2%; }

section.last_articles {
  padding: 1%;

  a {
    display: block;
    overflow: hidden;
    height: 2em;
    color: $grey;
    padding: {
      left: 3%;
      right: 3%;
    };

    @include hover_block;
    &:hover {
      // border: 1px solid black;
      // box-shadow: 3px 3px 3px black;
      color: black;
      overflow-y: visible;
      height: auto;

      .comments_count { display: block; };
    };

    h6 {
      text-align: right;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    .comments_count {
      float: left;
      display: none;
      color: $light_gray;
    }
  }
}

div.alert { width: 50%; }

.created_at {
  color: $light_gray;
  font-size: 11px;
  font-style: italic;
}

// Markdown
hr {
  color: black;
  border-color: black;
}

blockquote {
  border-left-color: black;
  border-left-width: 2px;

  p {
    font-size: 14px;
    font-style: italic;
  }
}