$main-color: #EEEEEE;
$grey: #666666;
$border-shadow: 1px solid rgba(0,0,0,0.1);

@mixin small-block {
  border: $border-shadow;
  border-radius: inherit;
  margin-bottom: 5%;
  padding: 2%;

  &:hover {
    background: white;
    border: 1px solid black;
    text-decoration: none;
  };
}

@import 'articles';
@import 'comments';
@import 'users';
@import 'sessions';

body {
  background: url(jeans_pattern.png) #131B40 repeat;
  padding: 4%;
}

.base, aside {
  background: $main-color;
  padding: 2%;
  border-radius: 0px 40px 10px 10px;
  box-shadow: 10px 10px 50px rgba(0,0,0,0.7);
}

aside {
  border-radius: 10px;
  padding: 1%;

  a {
    display: block;
    overflow: hidden;
    height: 2em;
    color: $grey;
    padding: {
      left: 5%;
      right: 5%;
    };

    &:hover {
      background: white;
      border: $border-shadow;
      color: black;
      overflow-y: visible;
      height: auto;
      text-decoration: none;
    };

    h6 {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }
}

.nav-tabs {
  li {
    margin: -1px;

    a {
      border-radius: 0 50% 0 0;
      color: $grey;

      &:hover { color: black; };
    };
  }

@mixin tab {
  background: $main-color;
  color: green;
  outline: none;
}

  li.active a {
    @include tab;

    &:hover, &:active, &:focus { @include tab; };
  }
}

div.alert { width: 50%; }