<aside class="span4 offset1">
  <% @last_articles.each do |article| %>
    <%= link_to( article, remote: true ) do %>
      <h6><%= article.title %></h6>
      <p><%= strip_tags article.body_as_html.truncate 100 %></p>
    <% end %>
  <% end %>
</aside>