<nav>
  <ul class="nav nav-tabs">
    <%= tab 'Article', article_path(@article) %>

    <%= tab "Comments (#{@article.comments.count})",
      article_comments_path(@article) %>

    <% if @user.try('persisted?')
         concat tab @user.name, user_path
       else
         concat tab 'Login', new_session_path
       end %>
  </ul>
</nav>