<nav>
  <ul class="nav nav-tabs">
    <%= tab 'Article', article_path(@article) %>

    <%= tab "Comments (#{@article.comments.count})",
          article_comments_path(@article) %>

    <%= @user.try('persisted?') ?
        tab( @user.name, user_path )  :
        tab( 'Login', new_session_path ) %>
  </ul>
</nav>