<nav>
  <ul class="nav nav-tabs">
    <%= tab_for 'Article', article_path(@article) %>

    <%= tab_for "Comments (#{@article.comments.count})",
      article_comments_path(@article) %>

    <%= tab_for 'User', '#' %>
  </ul>
</nav>