<h3>Ваши учетные записи:</h3>
<% @accounts.each do |account| %>
  <%= link_to image_tag("#{account.provider}.png"),
        user_account_path(account), :method => :delete, remote: true,
        title: "#{account.uid}" %>
<% end %>