<% unless @accounts.empty? %>
  <section class='accounts'>
    <hr>
    <h3><%= t 'accounts.your' %></h3>
    <% @accounts.each do |account| %>
      <%= link_to image_tag("#{account.provider}.png"),
            user_account_path(account), :method => :delete,
            class: 'destroy', confirm: t( 'defaults.confirm' ),
            title: "#{account.name}" %>
    <% end %>
    <p class='text-warning pull-right'>
      <%= t 'accounts.delete' %>
    </p>
  </section>
<% end %>